* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Paprika", system-ui;
}

.container {
    padding: 50px;

}

.section-one__role {
    padding-bottom: 10px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact {
    background-color: red;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.section-one__name {
    font-size: 50px;
}

.section-one__role {
    font-size: 30px;
    margin-top: 10px;
}

.section-two,
.section-three,
.section-five {
    margin-top: 20px;
}

.section-four {
    margin-top: 20px;
}

.section-two__title,
.section-three__title,
.section-four__title,
.section-five__title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.section-five {
    background-color: black;
    color: white;
}

.section-five__title a {
    color: green;
}

.section-five__title {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.section-five__desc {
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.section-three {
    background-color: blue;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.section-three,
.section-four li {
    list-style: none;
}

.section-four {
    background-color: orange;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.contect-form {
    margin-top: 20px;
}

.contact-form__input,
.contact-form__textarea,
.contect-form__submit {
    margin-top: 10px;
}

.contect-form__input {
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}


.contact-form__textarea {
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__submit {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: 10px;
    background-color: brown;
    color: white;
}
.contect-form__textarea{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border: solid black 1px;

}

   
    
    